{% extends theme ~ '/base.twig' %}
{% block content %}

    <div class="form-container">
        <h3 class="title">{{ __('Create Building') }}</h3>
        <form action="/admin/buildings/create" method="post">
            <div class="input-row">
                <label for="display_name">{{ __('Building Name') }}:</label>
                <input type="display_name" id="display_name" name="display_name" value="">
            </div>
            <div class="input-row">
                <label for="address">{{ __('Building Address') }}:</label>
                <input type="address" id="address" name="address" value="">
            </div>
            <div class="input-row">
                <label></label>
                <button type="submit">{{ __('Create') }}</button>
            </div>
        </form>
    </div>

{% endblock %}